<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<% sort_class = "sorting_column_" + @sorting_type %>

<h1>Movies</h1>

<div id="movies">
<table border="1">
  <thead>
    <tr>
      <th class="<%= sort_class if @sorting_column == 'title' %>">
        <% if @sorting_column == 'title' && @sorting_type == 'asc' %>
           <%= link_to 'Title ↑', movies_path(sort: 'title', direction: 'desc') %>
        <% elsif @sorting_column == 'title' && @sorting_type == 'desc' %>          
           <%= link_to 'Title ↓', movies_path(sort: 'title', direction: 'asc') %>
        <% else %>
          <%= link_to 'Title', movies_path(sort: 'title', direction: 'desc') %>
        <% end %>
      </th>
      <th class="<%= sort_class if @sorting_column == 'rating' %>">
        <% if @sorting_column == 'rating' && @sorting_type == 'asc' %>
           <%= link_to 'Rating ↑', movies_path(sort: 'rating', direction: 'desc') %>
        <% elsif @sorting_column == 'rating' && @sorting_type == 'desc' %>          
           <%= link_to 'Rating ↓', movies_path(sort: 'rating', direction: 'asc') %>
        <% else %>
          <%= link_to 'Rating', movies_path(sort: 'rating', direction: 'desc') %>
        <% end %>
      </th>
      <th class="<%= sort_class if @sorting_column == 'release_date' %>">
        <% if @sorting_column == 'release_date' && @sorting_type == 'asc' %>
           <%= link_to 'Release Date ↑', movies_path(sort: 'release_date', direction: 'desc') %>
        <% elsif @sorting_column == 'release_date' && @sorting_type == 'desc' %>          
           <%= link_to 'Release Date ↓', movies_path(sort: 'release_date', direction: 'asc') %>
        <% else %>
          <%= link_to 'Release Date', movies_path(sort: 'release_date', direction: 'desc') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td class="<%= sort_class if @sorting_column == 'title' %>"><%= movie.title %></td>
        <td class="<%= sort_class if @sorting_column == 'rating' %>"><%= movie.rating %></td>
        <td class="<%= sort_class if @sorting_column == 'release_date' %>"><%= movie.release_date %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
  </tfoot>
</table>
</div>

<%= link_to "New movie", new_movie_path %>
