<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<th>
  <%= link_to 'Title Ascending', movies_path(sort: 'title', direction: 'asc') %>
  <%= link_to 'Title Descending', movies_path(sort: 'title', direction: 'desc') %>
</th>
<th>
  <%= link_to 'Rating Ascending', movies_path(sort: 'rating', direction: 'asc') %>
  <%= link_to 'Rating Descending', movies_path(sort: 'rating', direction: 'desc') %>
</th>
<th>
  <%= link_to 'Release Date Ascending', movies_path(sort: 'release_date', direction: 'asc') %>
  <%= link_to 'Release Date Descending', movies_path(sort: 'release_date', direction: 'desc') %>
</th>

<h1>Movies</h1>

<div id="movies">
<table border="1">
  <thead>
    <tr>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
  </tfoot>
</table>
</div>

<%= link_to "New movie", new_movie_path %>
